<form class="pure-form pure-form-stacked" {{action "start" on="submit"}}>
    <fieldset>
        <legend>Who are you?</legend>

        <label for="username">Username</label>
        <input id="username" type="text" placeholder="Username">

        <button id="start" type="submit" class="pure-button pure-button-primary">Start</button>
    </fieldset>
</form>
