<h2>Readings</h2>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            {{#if showRelationship}}<th>Commute</th>{{/if}}
        </tr>
    </thead>

    <tbody>
        {{#each commutes}}
            <tr class="-pure-table-odd">
                <td>{{#link-to "commute" id}}{{id}}{{/link-to}}</td>
                {{#if showRelationship}}<td>{{#link-to "user" user.id}}{{user.id}}{{/link-to}}</td>{{/if}}
            </tr>
        {{else}}
            <tr>
                <td colspan="3">No reading available</td>
            </tr>
        {{/each}}
    </tbody>
</table>
